@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome - v1.0.1</h1>
    <h2>From Git</h2>
    <h2>First change to test push/pull</h2>
    <h2>Updated in clone version</h2>
    <h2>change made on feature-1</h2>
    <h2>Edited in github to test azure deployment </h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
